{% extends "layout.html" %}
{% block content %}
<center>
<body bgcolor="yellow">
<font size<<13=color="purple">
Qyteti i Vlores
</font><br><hr><br>
</center>
</head>
<body><br><h3>
<center>
Vlora është një qytet bregdetar në jugperëndim të Shqipërisë. Vlora është qyteti i dytë më i madh portual pas Durrësit, me një popullsi afërsisht 200.000.
Ndodhet në jugperëndim të Shqipërisë, në Detin Adriatik dhe është qendra e Rrethit të Vlorës dhe të Qarkun së Vlorës. Është qyteti ku është shpallur Deklarata e Pavarësisë shqiptare më 28 nëntor 1912
Ekonomia
Vlora është një qendër e rëndësishme tregtare dhe detare në Shqipëri. E zhvilluar është industria e peshkimit. Vlora prodhon naftë, gaz natyror, bitum dhe kripë. E zhvilluar në qytet është industria e manifakturës tekstile si dhe ajo e ndërtimit.
<img src="/tom/static/vloraimage.jpg"width="85"height="90">
Mendimi im
Vlora eshte nje nga qytetet me te bukura dhe me turistik  ne Shqiperi.Shume turist vizitojne Vloren per shkak te deteve mahnites qe ka po edhe te ushqimit tradicional shume te shijshem.Perendimi i djellit te le me goje hapur dhe te ben te humbesh ne te.Kur njerzit hyjne ne Vlore eshte nje ndjenj dhe emocion i bukur per ta.<br>
</center>
</body></h3>

{% endblock content %}


